.loader-container{
    display: flex;
    text-align: center;
    color: rgb(255, 13, 0);
    align-items: center;
    max-height: 30vh;   
}

.loading-msg {
    font-size: 35px;
    color: rgb(239, 16, 16);
}

.spiderman-loader{
    width: 30%;
}