.character-detail {
    background-color:  white;
    color: black;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}

.character-info {
    display: flex;
}

.searched-character-img {
    width: 40%;
    border-radius: 0 60px;
    margin-right: 10%;
    border:2px solid #ff0000ab;
}

.text-info {
    padding: 10%;
    font-size: 120%;  
}

.character-name {
    color: #ff0000ab;
}

.series {
    color: #ffffff;
    padding-left: 5%;
    background-color: #202020;
    text-align: center;
}

.series-img {
    width:20%;
    margin: 5% 10% 1% 10%;
    border-radius: 0 40px;
    border:2px solid #ff0000ab;
}

/* ****** IphoneX ******* */
@media only screen and (max-width:600px ){
    .searched-character-img {
        width: 20%;
        height: 40%;
        border-radius: 0 20px;
    }
    
}