.App {
  font-family: Roboto,Trebuchet MS,Helvetica,Arial,sans-serif;
}

/* @media (prefers-reduced-motion: no-preference) {
  .p {
    animation: p-spin infinite 20s linear;
  }
} */

.App-header {
  color: white;
}

.App-link {
  color: #61dafb;
}
/* 
@keyframes p-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
} */
