.image-container {
    background-color: black;
    opacity: 0.8; 
}

.home-page-bg {
    width: 100vw;
    z-index: -1;
    position: relative;
    opacity: 0.4;
}

.search-bar-container {
    display: flex;
    margin-left: 12%;
    margin-top: 5%;
}

.icon-search {
    width: 8%;
    fill: none;
    stroke-width: 2px;
    stroke-linecap: square;
    border-bottom: 2px solid #151515;
}

.search-bar {
    align-items: center;
    text-align: initial;
    width: 300px;
    letter-spacing: 1px;
    outline-color: #9e9e9e36;
    border: 0;
    border-bottom: 2px solid #151515;
    font: 400 26px/1 RobotoCondensed,Trebuchet MS,Helvetica,Arial,sans-serif;
}

.gray-line {
    background-color: #f2f2f2;
    height: 2px;
    margin-left: 12%;
    margin-right: 18%;
}