.all-character {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px 5% 10% 10%;
    overflow-x: hidden;
}

/* ****** IphoneX ******* */
@media only screen and (max-width:600px ){
    .all-character {   
      justify-content: center;
    }
    
}